.DS_Store
.python-version
.my.cnf
*.pyc
*.tsv
*.swp
*.csv
*.msg
*.egg-info
*~
*#
/.idea

.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

environments/wordpress_web/variable.tf
environments/wordpress_web/.terraform
environments/vpc/variable.tf
environments/vpc/.terraform

